//colors
$black: black;
$color_iron_approx: #d7d7d7;
$color_mountain_mist_approx: #999;
$color_boulder_approx: #74777c;
$color_chicago_approx: #575757;

.js-custom-select {
    display: none;
}
.custom-select-block {
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    &.open {
        .search-block {
            display: block;
        }
        .custom-select-list {
            display: block;
            z-index: 50;
            li {
                display: block;
                text-overflow: ellipsis;
                border-width: 0 0 1px 0;
                border-color: $color_iron_approx;
                border-style: solid;
                padding: 12px 20px;
                width: 100%;
                &.hover {
                    background: $color_mountain_mist_approx;
                }
            }
        }
    }
    .search-block {
        display: none;
        position: absolute;
        width: 100%;
        background: white;
        z-index: 1;
        & + .custom-select-list{
            top: calc(100% + 36px);
        }

        &:before {
            content: "\F002";
            position: absolute;
            pointer-events: none;
            right: 10px;
            color: $color_boulder_approx;
            display: inline-block;
            margin-top: -8px;
            top: 50%;
        }
        input {
            width: 100%;
            height: 36px;
            padding: 10px 25px 10px 20px;
            outline: none;
            border-width: 0 0 1px;
            border-color: $color_iron_approx;
            border-style: solid;
        }
    }
    .custom-select-list {
        display: none;
        background: white;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-left: 0;
        margin: 0;
        z-index: 200;
        list-style-type: none;
        em {
            font-style: normal;
            text-decoration: underline;
        }
    }
    .value-field {
        display: table;
        width: 100%;
        color: $color_chicago_approx;
        position: relative;
        border: $color_iron_approx 1px solid;
        padding: 14px 15px;
        border-radius: 2px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .value-field {
            display: table-cell;
        }
        i {
            display: table-cell;
            width: 10px;
            text-align: right;
        }
    }
    &:hover .value-field i {
        color: $black;
    }
}

